### Тут пояснений в отличии от других разделов не будет.

In [3]:
import os
import pandas as pd
import numpy as np
import datetime
from joblib import dump, load

In [4]:
all_count = pd.read_csv('all_count.csv', sep=',', header=0)
all_count.index = all_count.region
all_count.drop(columns=['region'], inplace=True)
all_count = all_count.iloc[:, -720:]
all_count.columns = [datetime.datetime.strptime(i, '%Y-%m-%d %H:%M:%S') for i in all_count.columns]
all_count.columns = ['{}_{}'.format(i.day, i.hour) for i in all_count.columns]
#all_count = all_count.iloc[1:, :]
#all_count.index = [datetime.datetime.strptime(i, '%Y-%m-%d %H:%M:%S') for i in all_count.index]
#
#print(all_count.shape)
all_count.to_csv('true.csv', header=True, index=True, sep=',')
true = pd.read_csv('true.csv', sep=',', header=0, index_col=0)
print(true.shape)
true.head()

(102, 720)

,1_0,1_1,1_2,1_3,1_4,1_5,1_6,1_7,1_8,1_9,...,30_14,30_15,30_16,30_17,30_18,30_19,30_20,30_21,30_22,30_23
region,,,,,,,,,,,,,,,,,,,,,
1075,26.0,14.0,5.0,2.0,1.0,7.0,23.0,34.0,72.0,54.0,...,109.0,86.0,81.0,82.0,88.0,116.0,104.0,151.0,106.0,85.0
1076,30.0,21.0,25.0,5.0,8.0,31.0,54.0,151.0,185.0,166.0,...,236.0,199.0,152.0,139.0,173.0,190.0,142.0,162.0,168.0,130.0
1077,19.0,6.0,4.0,3.0,3.0,17.0,78.0,163.0,181.0,142.0,...,103.0,68.0,85.0,100.0,117.0,135.0,149.0,145.0,103.0,86.0
1125,39.0,26.0,18.0,4.0,6.0,8.0,41.0,73.0,97.0,82.0,...,107.0,78.0,86.0,80.0,75.0,132.0,141.0,135.0,125.0,113.0
1126,71.0,49.0,25.0,16.0,26.0,43.0,108.0,170.0,202.0,172.0,...,212.0,213.0,179.0,255.0,309.0,395.0,333.0,359.0,317.0,256.0

In [5]:
pred = pd.DataFrame(np.zeros((102,)))
pred.columns = ['del']
pred.index = true.index
#for i in true.columns:
#    for j in range(1, 7):
#        col = '{}_{}'.format(i, j)
#        pred[col] = np.zeros((102,))

f = open('kaggle_xgb_2.csv')
f.readline()
for line in f:
    a = line.split(',')
    val = int(round(float(a[1]), 0))
    a = a[0]
    a = a.split('_')
    region = int(a[0])
    hour = a[2]
    step = a[3]
    date = a[1].split('-')
    day = int(date[-1])
    month = int(date[1])
    if int(day) > 30 or month != 6:
        continue
    col = '_'.join([str(day), hour, step])
    pred.loc[region, col] = val

pred.drop(columns=['del'], inplace=True)
print(pred.shape)
pred.head()

(102, 4284)

,1_0_1,1_1_1,1_2_1,1_3_1,1_4_1,1_5_1,1_6_1,1_7_1,1_8_1,1_9_1,...,30_8_6,30_9_6,30_10_6,30_11_6,30_12_6,30_13_6,30_14_6,30_15_6,30_16_6,30_17_6
region,,,,,,,,,,,,,,,,,,,,,
1075,12.0,1.0,5.0,3.0,13.0,22.0,46.0,74.0,74.0,67.0,...,110.0,102.0,81.0,100.0,113.0,107.0,126.0,159.0,146.0,105.0
1076,12.0,8.0,3.0,2.0,28.0,69.0,128.0,194.0,189.0,168.0,...,231.0,224.0,188.0,187.0,195.0,201.0,169.0,186.0,156.0,125.0
1077,2.0,3.0,0.0,2.0,26.0,77.0,208.0,220.0,117.0,122.0,...,102.0,93.0,91.0,117.0,160.0,161.0,180.0,165.0,144.0,90.0
1125,12.0,11.0,8.0,6.0,17.0,36.0,67.0,108.0,78.0,72.0,...,89.0,91.0,86.0,104.0,108.0,112.0,113.0,123.0,110.0,94.0
1126,56.0,22.0,21.0,30.0,35.0,97.0,220.0,229.0,188.0,166.0,...,223.0,200.0,189.0,276.0,329.0,325.0,314.0,316.0,333.0,281.0

In [6]:
pred.to_csv('pred.csv', sep=',', header=True, index=True)
pred = pd.read_csv('pred.csv', sep=',', header=0, index_col=0)
print(pred.shape)
pred.head()

(102, 4284)

,1_0_1,1_1_1,1_2_1,1_3_1,1_4_1,1_5_1,1_6_1,1_7_1,1_8_1,1_9_1,...,30_8_6,30_9_6,30_10_6,30_11_6,30_12_6,30_13_6,30_14_6,30_15_6,30_16_6,30_17_6
region,,,,,,,,,,,,,,,,,,,,,
1075,12.0,1.0,5.0,3.0,13.0,22.0,46.0,74.0,74.0,67.0,...,110.0,102.0,81.0,100.0,113.0,107.0,126.0,159.0,146.0,105.0
1076,12.0,8.0,3.0,2.0,28.0,69.0,128.0,194.0,189.0,168.0,...,231.0,224.0,188.0,187.0,195.0,201.0,169.0,186.0,156.0,125.0
1077,2.0,3.0,0.0,2.0,26.0,77.0,208.0,220.0,117.0,122.0,...,102.0,93.0,91.0,117.0,160.0,161.0,180.0,165.0,144.0,90.0
1125,12.0,11.0,8.0,6.0,17.0,36.0,67.0,108.0,78.0,72.0,...,89.0,91.0,86.0,104.0,108.0,112.0,113.0,123.0,110.0,94.0
1126,56.0,22.0,21.0,30.0,35.0,97.0,220.0,229.0,188.0,166.0,...,223.0,200.0,189.0,276.0,329.0,325.0,314.0,316.0,333.0,281.0

In [7]:
info = pd.read_csv('info.csv', sep=',', header=0, index_col=0)
print(info.shape)
info.head()

(102, 5)

             west       east      south      north      error
region
1075   -74.022246 -74.011135  40.697437  40.705825  13.671873
1076   -74.022246 -74.011135  40.705825  40.714213  18.381396
1077   -74.022246 -74.011135  40.714213  40.722601  14.447823
1125   -74.011135 -74.000023  40.697437  40.705825  12.023524
1126   -74.011135 -74.000023  40.705825  40.714213  24.615387

In [8]:
regions = np.array(info.index)

xs = []
ys = []
for region in regions:
    now_x = []
    now_y = []
    temp = info[info.index==region]
    now_x = [temp.west.values[0], temp.west.values[0], temp.east.values[0], temp.east.values[0]]
    now_y = [temp.south.values[0], temp.north.values[0], temp.north.values[0], temp.south.values[0]]
    xs.append(now_x)
    ys.append(now_y)
dump(xs, 'xs.joblib')
dump(ys, 'ys.joblib')

['ys.joblib']

In [9]:
true = pd.read_csv('true.csv', sep=',', header=0, index_col=0)
true.head()

,1_0,1_1,1_2,1_3,1_4,1_5,1_6,1_7,1_8,1_9,...,30_14,30_15,30_16,30_17,30_18,30_19,30_20,30_21,30_22,30_23
region,,,,,,,,,,,,,,,,,,,,,
1075,26.0,14.0,5.0,2.0,1.0,7.0,23.0,34.0,72.0,54.0,...,109.0,86.0,81.0,82.0,88.0,116.0,104.0,151.0,106.0,85.0
1076,30.0,21.0,25.0,5.0,8.0,31.0,54.0,151.0,185.0,166.0,...,236.0,199.0,152.0,139.0,173.0,190.0,142.0,162.0,168.0,130.0
1077,19.0,6.0,4.0,3.0,3.0,17.0,78.0,163.0,181.0,142.0,...,103.0,68.0,85.0,100.0,117.0,135.0,149.0,145.0,103.0,86.0
1125,39.0,26.0,18.0,4.0,6.0,8.0,41.0,73.0,97.0,82.0,...,107.0,78.0,86.0,80.0,75.0,132.0,141.0,135.0,125.0,113.0
1126,71.0,49.0,25.0,16.0,26.0,43.0,108.0,170.0,202.0,172.0,...,212.0,213.0,179.0,255.0,309.0,395.0,333.0,359.0,317.0,256.0

In [10]:
series = true.copy(deep=True)
series.head()

,1_0,1_1,1_2,1_3,1_4,1_5,1_6,1_7,1_8,1_9,...,30_14,30_15,30_16,30_17,30_18,30_19,30_20,30_21,30_22,30_23
region,,,,,,,,,,,,,,,,,,,,,
1075,26.0,14.0,5.0,2.0,1.0,7.0,23.0,34.0,72.0,54.0,...,109.0,86.0,81.0,82.0,88.0,116.0,104.0,151.0,106.0,85.0
1076,30.0,21.0,25.0,5.0,8.0,31.0,54.0,151.0,185.0,166.0,...,236.0,199.0,152.0,139.0,173.0,190.0,142.0,162.0,168.0,130.0
1077,19.0,6.0,4.0,3.0,3.0,17.0,78.0,163.0,181.0,142.0,...,103.0,68.0,85.0,100.0,117.0,135.0,149.0,145.0,103.0,86.0
1125,39.0,26.0,18.0,4.0,6.0,8.0,41.0,73.0,97.0,82.0,...,107.0,78.0,86.0,80.0,75.0,132.0,141.0,135.0,125.0,113.0
1126,71.0,49.0,25.0,16.0,26.0,43.0,108.0,170.0,202.0,172.0,...,212.0,213.0,179.0,255.0,309.0,395.0,333.0,359.0,317.0,256.0

In [11]:
series.columns = [datetime.datetime.strptime('2016-6-{} {}'.format(i.split('_')[0], i.split('_')[1]), 
                                                  '%Y-%m-%d %H') for i in series.columns]
series.head()

,2016-06-01 00:00:00,2016-06-01 01:00:00,2016-06-01 02:00:00,2016-06-01 03:00:00,2016-06-01 04:00:00,2016-06-01 05:00:00,2016-06-01 06:00:00,2016-06-01 07:00:00,2016-06-01 08:00:00,2016-06-01 09:00:00,...,2016-06-30 14:00:00,2016-06-30 15:00:00,2016-06-30 16:00:00,2016-06-30 17:00:00,2016-06-30 18:00:00,2016-06-30 19:00:00,2016-06-30 20:00:00,2016-06-30 21:00:00,2016-06-30 22:00:00,2016-06-30 23:00:00
region,,,,,,,,,,,,,,,,,,,,,
1075,26.0,14.0,5.0,2.0,1.0,7.0,23.0,34.0,72.0,54.0,...,109.0,86.0,81.0,82.0,88.0,116.0,104.0,151.0,106.0,85.0
1076,30.0,21.0,25.0,5.0,8.0,31.0,54.0,151.0,185.0,166.0,...,236.0,199.0,152.0,139.0,173.0,190.0,142.0,162.0,168.0,130.0
1077,19.0,6.0,4.0,3.0,3.0,17.0,78.0,163.0,181.0,142.0,...,103.0,68.0,85.0,100.0,117.0,135.0,149.0,145.0,103.0,86.0
1125,39.0,26.0,18.0,4.0,6.0,8.0,41.0,73.0,97.0,82.0,...,107.0,78.0,86.0,80.0,75.0,132.0,141.0,135.0,125.0,113.0
1126,71.0,49.0,25.0,16.0,26.0,43.0,108.0,170.0,202.0,172.0,...,212.0,213.0,179.0,255.0,309.0,395.0,333.0,359.0,317.0,256.0

In [12]:
series = series.transpose()
series.columns = [str(i) for i in series.columns]
series.head()

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,1630,1684,1733,1734,1783,2068,2069,2118,2119,2168
2016-06-01 00:00:00,26.0,30.0,19.0,39.0,71.0,163.0,181.0,219.0,326.0,56.0,...,1.0,1.0,6.0,262.0,107.0,114.0,7.0,169.0,6.0,85.0
2016-06-01 01:00:00,14.0,21.0,6.0,26.0,49.0,101.0,136.0,144.0,252.0,27.0,...,5.0,0.0,0.0,137.0,1.0,27.0,16.0,105.0,4.0,42.0
2016-06-01 02:00:00,5.0,25.0,4.0,18.0,25.0,42.0,74.0,123.0,245.0,30.0,...,8.0,0.0,1.0,25.0,0.0,11.0,0.0,31.0,0.0,10.0
2016-06-01 03:00:00,2.0,5.0,3.0,4.0,16.0,36.0,36.0,85.0,241.0,24.0,...,7.0,0.0,1.0,44.0,0.0,13.0,4.0,51.0,1.0,0.0
2016-06-01 04:00:00,1.0,8.0,3.0,6.0,26.0,27.0,46.0,54.0,129.0,11.0,...,4.0,0.0,0.0,0.0,2.0,23.0,3.0,33.0,3.0,1.0

In [13]:
pred = pd.read_csv('pred.csv', sep=',', header=0, index_col=0)
pred.head()

,1_0_1,1_1_1,1_2_1,1_3_1,1_4_1,1_5_1,1_6_1,1_7_1,1_8_1,1_9_1,...,30_8_6,30_9_6,30_10_6,30_11_6,30_12_6,30_13_6,30_14_6,30_15_6,30_16_6,30_17_6
region,,,,,,,,,,,,,,,,,,,,,
1075,12.0,1.0,5.0,3.0,13.0,22.0,46.0,74.0,74.0,67.0,...,110.0,102.0,81.0,100.0,113.0,107.0,126.0,159.0,146.0,105.0
1076,12.0,8.0,3.0,2.0,28.0,69.0,128.0,194.0,189.0,168.0,...,231.0,224.0,188.0,187.0,195.0,201.0,169.0,186.0,156.0,125.0
1077,2.0,3.0,0.0,2.0,26.0,77.0,208.0,220.0,117.0,122.0,...,102.0,93.0,91.0,117.0,160.0,161.0,180.0,165.0,144.0,90.0
1125,12.0,11.0,8.0,6.0,17.0,36.0,67.0,108.0,78.0,72.0,...,89.0,91.0,86.0,104.0,108.0,112.0,113.0,123.0,110.0,94.0
1126,56.0,22.0,21.0,30.0,35.0,97.0,220.0,229.0,188.0,166.0,...,223.0,200.0,189.0,276.0,329.0,325.0,314.0,316.0,333.0,281.0

In [14]:
regions = [int(i) for i in series.columns]
len(regions)

102

In [15]:
for region in regions:
    for i in range(1, 7):
        col = '{}_{}'.format(region, i)
        series[col] = [np.nan for j in range(series.shape[0])]
print(series.shape)
series.head()

(720, 714)

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,2119_3,2119_4,2119_5,2119_6,2168_1,2168_2,2168_3,2168_4,2168_5,2168_6
2016-06-01 00:00:00,26.0,30.0,19.0,39.0,71.0,163.0,181.0,219.0,326.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-01 01:00:00,14.0,21.0,6.0,26.0,49.0,101.0,136.0,144.0,252.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-01 02:00:00,5.0,25.0,4.0,18.0,25.0,42.0,74.0,123.0,245.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-01 03:00:00,2.0,5.0,3.0,4.0,16.0,36.0,36.0,85.0,241.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-01 04:00:00,1.0,8.0,3.0,6.0,26.0,27.0,46.0,54.0,129.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
f = open('kaggle_xgb_2.csv')
f.readline()
for line in f:
    a = line.split(',')
    val = int(round(float(a[1]), 0))
    a = a[0]
    a = a.split('_')
    region = int(a[0])
    hour = int(a[2])
    step = int(a[3])
    date = a[1].split('-')
    day = int(date[2])
    month = int(date[1])
    year = int(date[0])
    if int(day) > 30 or month != 6:
        continue
    col = '_'.join([str(region), str(step)])
    now_date = datetime.datetime(year, month, day, hour)
    row = now_date + datetime.timedelta(hours=step)
    series.loc[row, col] = val

In [17]:
series.head(7)

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,2119_3,2119_4,2119_5,2119_6,2168_1,2168_2,2168_3,2168_4,2168_5,2168_6
2016-06-01 00:00:00,26.0,30.0,19.0,39.0,71.0,163.0,181.0,219.0,326.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-01 01:00:00,14.0,21.0,6.0,26.0,49.0,101.0,136.0,144.0,252.0,27.0,...,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN
2016-06-01 02:00:00,5.0,25.0,4.0,18.0,25.0,42.0,74.0,123.0,245.0,30.0,...,NaN,NaN,NaN,NaN,11.0,15.0,NaN,NaN,NaN,NaN
2016-06-01 03:00:00,2.0,5.0,3.0,4.0,16.0,36.0,36.0,85.0,241.0,24.0,...,9.0,NaN,NaN,NaN,2.0,9.0,7.0,NaN,NaN,NaN
2016-06-01 04:00:00,1.0,8.0,3.0,6.0,26.0,27.0,46.0,54.0,129.0,11.0,...,7.0,8.0,NaN,NaN,21.0,10.0,11.0,11.0,NaN,NaN
2016-06-01 05:00:00,7.0,31.0,17.0,8.0,43.0,51.0,59.0,76.0,50.0,18.0,...,7.0,9.0,8.0,NaN,34.0,51.0,57.0,59.0,51.0,NaN
2016-06-01 06:00:00,23.0,54.0,78.0,41.0,108.0,126.0,121.0,231.0,127.0,54.0,...,12.0,14.0,13.0,12.0,99.0,65.0,75.0,76.0,76.0,75.0

In [18]:
series.tail(7)

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,2119_3,2119_4,2119_5,2119_6,2168_1,2168_2,2168_3,2168_4,2168_5,2168_6
2016-06-30 17:00:00,82.0,139.0,100.0,80.0,255.0,226.0,218.0,280.0,404.0,154.0,...,82.0,84.0,80.0,84.0,3.0,4.0,4.0,5.0,4.0,5.0
2016-06-30 18:00:00,88.0,173.0,117.0,75.0,309.0,266.0,272.0,343.0,507.0,262.0,...,113.0,117.0,115.0,111.0,3.0,4.0,4.0,6.0,4.0,5.0
2016-06-30 19:00:00,116.0,190.0,135.0,132.0,395.0,308.0,401.0,336.0,496.0,260.0,...,111.0,114.0,117.0,114.0,NaN,3.0,5.0,5.0,4.0,5.0
2016-06-30 20:00:00,104.0,142.0,149.0,141.0,333.0,368.0,390.0,385.0,560.0,247.0,...,122.0,125.0,120.0,122.0,NaN,NaN,5.0,6.0,5.0,4.0
2016-06-30 21:00:00,151.0,162.0,145.0,135.0,359.0,422.0,460.0,541.0,672.0,259.0,...,NaN,129.0,131.0,125.0,NaN,NaN,NaN,6.0,5.0,4.0
2016-06-30 22:00:00,106.0,168.0,103.0,125.0,317.0,476.0,405.0,508.0,578.0,259.0,...,NaN,NaN,103.0,106.0,NaN,NaN,NaN,NaN,5.0,4.0
2016-06-30 23:00:00,85.0,130.0,86.0,113.0,256.0,428.0,483.0,531.0,631.0,210.0,...,NaN,NaN,NaN,143.0,NaN,NaN,NaN,NaN,NaN,5.0

In [19]:
series.to_csv('series.csv', sep=',', header=True, index=True)

In [20]:
series = pd.read_csv('series.csv', sep=',', header=0, index_col=0, parse_dates=[0], 
                     date_parser=lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
series.head()

,1075,1076,1077,1125,1126,1127,1128,1129,1130,1131,...,2119_3,2119_4,2119_5,2119_6,2168_1,2168_2,2168_3,2168_4,2168_5,2168_6
2016-06-01 00:00:00,26.0,30.0,19.0,39.0,71.0,163.0,181.0,219.0,326.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-01 01:00:00,14.0,21.0,6.0,26.0,49.0,101.0,136.0,144.0,252.0,27.0,...,NaN,NaN,NaN,NaN,36.0,NaN,NaN,NaN,NaN,NaN
2016-06-01 02:00:00,5.0,25.0,4.0,18.0,25.0,42.0,74.0,123.0,245.0,30.0,...,NaN,NaN,NaN,NaN,11.0,15.0,NaN,NaN,NaN,NaN
2016-06-01 03:00:00,2.0,5.0,3.0,4.0,16.0,36.0,36.0,85.0,241.0,24.0,...,9.0,NaN,NaN,NaN,2.0,9.0,7.0,NaN,NaN,NaN
2016-06-01 04:00:00,1.0,8.0,3.0,6.0,26.0,27.0,46.0,54.0,129.0,11.0,...,7.0,8.0,NaN,NaN,21.0,10.0,11.0,11.0,NaN,NaN

# Поехали.

In [21]:
from bokeh.io import output_notebook, output_file, show
#output_notebook()
#output_file('del.html')

import os

import pandas as pd
import numpy as np
import datetime
import itertools

from bokeh.models import GMapOptions, HoverTool, LinearColorMapper
from bokeh.plotting import gmap, figure, ColumnDataSource
from joblib import dump, load
from bokeh.models import ColorBar, CustomJS
from bokeh.models import ColumnDataSource, TapTool, Legend
from bokeh.layouts import gridplot
from bokeh.transform import transform
from bokeh.layouts import widgetbox, column, row
from bokeh.models.widgets import Slider, Select
from bokeh.models.glyphs import Text
from bokeh.resources import CDN
from bokeh.embed import file_html

In [22]:
# LOAD.
info = pd.read_csv('info.csv', sep=',', header=0, index_col=0)
pred_frame = pd.read_csv('pred.csv', sep=',', header=0, index_col=0)
true_frame = pd.read_csv('true.csv', sep=',', header=0, index_col=0)
series_frame = pd.read_csv('series.csv', sep=',', header=0, index_col=0, parse_dates=[0], 
                           date_parser=lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
xs = load('xs.joblib')
ys = load('ys.joblib')

In [48]:
# INIT.
TEXT_FONT = 'Arial'
plot_width = 430
plot_height = 500
trips_alpha = 0.4
line_alpha = 0.6
line_width = 1
MAX = int(max(pred_frame.values.max(), true_frame.values.max()))
API_KEY = 'AIzaSyBoIxRrwJnEsvAHfNfW9sRMynqTn5zl5CI'
color_mapper = LinearColorMapper(palette="Viridis256", low=0, high=MAX)
map_options = GMapOptions(lat=40.74, lng=-73.90, map_type="roadmap", zoom=11)


# Tooltip.
tooltips = """
<div>
    <span style="font-size: 12px; color: #666;">Region @r</span>&nbsp;
</div>
<div>
    <span style="font-size: 15px;">Prediction </span>
    <span style="font-size: 15px; font-weight: bold;">@pv</span>&nbsp;
</div>
<div>
    <span style="font-size: 15px;">Actual value </span>
    <span style="font-size: 15px; font-weight: bold;">@tv</span>&nbsp;
</div>
"""


# TITLES.
title_source = ColumnDataSource(data=dict(pt=['Forecast for 1 a.m. June 1, 2016.'],
                                          tt=['Actual values at 1 a.m. June 1, 2016.'],
                                          mt=['Selected reference point: 12 a.m. June 1, 2016.'],
                                          st=['Forecasts for the region 6 hours\nahead of the reference point.'], 
                                          at=['A General graph for the region with the selected\nforecast horizon.']))
main_title_figure = figure(plot_width=plot_width, plot_height=40, tools='',
                           x_range=(-0.2, 50), y_range=(-0.2, 10))
pred_title_figure = figure(plot_width=plot_width, plot_height=40, tools='',
                           x_range=(-0.2, 50), y_range=(-0.2, 10))
true_title_figure = figure(plot_width=plot_width, plot_height=40, tools='',
                           x_range=(-0.2, 50), y_range=(-0.2, 10))
six_title_figure = figure(plot_width=330, plot_height=80, tools='',
                           x_range=(-0.2, 50), y_range=(-0.2, 10))
all_title_figure = figure(plot_width=400, plot_height=80, tools='',
                           x_range=(-0.2, 50), y_range=(-0.2, 10))
main_title_glypth = Text(text="mt", text_color='black', text_font=TEXT_FONT)
pred_title_glypth = Text(text="pt", text_color='black', text_font=TEXT_FONT)
true_title_glypth = Text(text="tt", text_color='black', text_font=TEXT_FONT)
six_title_glypth = Text(text="st", text_color='black', text_font=TEXT_FONT)
all_title_glypth = Text(text="at", text_color='black', text_font=TEXT_FONT)
main_title_figure.add_glyph(title_source, main_title_glypth)
pred_title_figure.add_glyph(title_source, pred_title_glypth)
true_title_figure.add_glyph(title_source, true_title_glypth)
six_title_figure.add_glyph(title_source, six_title_glypth)
all_title_figure.add_glyph(title_source, all_title_glypth)
main_title_figure.axis.visible = False
pred_title_figure.axis.visible = False
true_title_figure.axis.visible = False
six_title_figure.axis.visible = False
all_title_figure.axis.visible = False
main_title_figure.grid.visible = False
pred_title_figure.grid.visible = False
true_title_figure.grid.visible = False
six_title_figure.grid.visible = False
all_title_figure.grid.visible = False
main_title_figure.outline_line_color = None
pred_title_figure.outline_line_color = None
true_title_figure.outline_line_color = None
six_title_figure.outline_line_color = None
all_title_figure.outline_line_color = None


# DATA.
pred_source = ColumnDataSource(data=pred_frame)
true_source = ColumnDataSource(data=true_frame)
plot_source = ColumnDataSource(data=dict(r=list(info.index), 
                                         x=xs, 
                                         y=ys,
                                         pv=list(pred_frame['1_0_1']),
                                         tv=list(true_frame['1_1'])))
six_source = ColumnDataSource(data=dict(ls=['Forecast horizon', '+1', '+2', '+3', '+4', '+5', '+6'],
                                        x=list(range(7)),
                                        py=[int(true_frame.loc[1075, '1_0']), 
                                            int(pred_frame.loc[1075, '1_0_1']),
                                            int(pred_frame.loc[1075, '1_0_2']),
                                            int(pred_frame.loc[1075, '1_0_3']),
                                            int(pred_frame.loc[1075, '1_0_4']),
                                            int(pred_frame.loc[1075, '1_0_5']),
                                            int(pred_frame.loc[1075, '1_0_6'])],
                                        ty=[int(true_frame.loc[1075, '1_0']),
                                            int(true_frame.loc[1075, '1_1']),
                                            int(true_frame.loc[1075, '1_2']),
                                            int(true_frame.loc[1075, '1_3']),
                                            int(true_frame.loc[1075, '1_4']),
                                            int(true_frame.loc[1075, '1_5']),
                                            int(true_frame.loc[1075, '1_6'])]))
series_source = ColumnDataSource(data=series_frame)
all_source = ColumnDataSource(data=dict(ai=series_frame.index, 
                                        ap=series_frame['1075_1'], 
                                        at=series_frame['1075']))

# Pred.
p_pred = gmap(API_KEY, map_options, plot_width=495, plot_height=plot_height, 
              tools=["pan, wheel_zoom, box_zoom, save, reset, help, tap"])
pred_patches = p_pred.patches('x', 'y', color=transform('pv', color_mapper), 
                              line_width=line_width, 
                              line_alpha=line_alpha, alpha=trips_alpha, source=plot_source)

pred_hover = HoverTool(tooltips=tooltips)
p_pred.add_tools(pred_hover)
p_pred.axis.visible = False
col_pred = column(pred_title_figure, p_pred)

# Color bar.
color_bar = ColorBar(color_mapper=color_mapper, label_standoff=12, location=(0,0), title='Trips', 
                     scale_alpha=trips_alpha+0.1)
p_pred.add_layout(color_bar, 'right')


# True.
p_true = gmap(API_KEY, map_options, plot_width=plot_width, plot_height=plot_height, 
              tools=["pan, wheel_zoom, box_zoom, save, reset, help, tap"])
true_patches = p_true.patches('x', 'y', color=transform('tv', color_mapper),  
                              line_width=line_width, 
                              line_alpha=line_alpha, alpha=trips_alpha, source=plot_source)
true_hover = HoverTool(tooltips=tooltips, 
                  renderers=[true_patches])
true_hover = HoverTool(tooltips=tooltips)
p_true.add_tools(true_hover)
p_true.axis.visible = False
col_true = column(true_title_figure, p_true)

# Six.
six_figure = figure(plot_width=250, plot_height=250, x_range=(-0.2, 6.2), y_axis_label="Number of trips", 
                    tools='')
six_figure.line(x='x', y='py', line_color='red', line_width=2, source=six_source)
p_circles = six_figure.circle(x='x', y='py', size=12, line_color='red', line_width=2, fill_color='white', 
                              hover_color='red', source=six_source)
six_figure.line(x='x', y='ty', line_color='blue', line_width=2, source=six_source)
t_circles = six_figure.circle(x='x', y='ty', size=12, line_color='blue', line_width=2, fill_color='white', 
                              hover_color='blue', source=six_source)
six_figure.xaxis.major_label_overrides = {0: '0', 1: '+1 hr', 2: '+2 hr', 3: '+3 hr', 4: '+4 hr', 
                                          5: '+5 hr', 6: '+6 hr'}
six_figure.xaxis.minor_tick_line_color = None
six_figure.yaxis.minor_tick_line_color = None
six_figure.grid.visible = False
six_figure.outline_line_color = None

six_figure.add_tools(HoverTool(tooltips=[('Forecast', '@py'), ('Actual value', '@ty')], 
                               renderers=[p_circles], mode='vline'))
col_six = column(six_title_figure, six_figure)

# All.
all_figure = figure(x_axis_type="datetime", plot_width=600, plot_height=300, y_axis_label="Number of trips", 
                    tools='')
ap_line = all_figure.line(x='ai', y='ap', color='red', line_width=1.5, legend='Forecast', source=all_source)
at_line = all_figure.line(x='ai', y='at', color='blue', line_width=1.5, legend='Actual values', source=all_source)
all_figure.add_tools(HoverTool(tooltips=[('', '@ai{%Y-%m-%d %H:%M}'), ('Forecast', '@ap'), 
                                         ('Actual values', '@at')], 
                               renderers=[ap_line], formatters={'ai': 'datetime'}, mode='vline'))
all_figure.xaxis[0].formatter.days = '%Y-%m-%d'
all_figure.xaxis.major_label_orientation = np.pi/6
col_all = column(all_title_figure, all_figure)

# WIDGETS.

day_select = Select(options=[str(i) for i in range(1, 31)], value='1', title='Select the day of June 2016.')
hour_select = Select(options=['12 a.m.'] + [str(i)+' a.m.' for i in range(1, 12)] + ['12 p.m.'] + [str(i)+' p.m.' for i in range(1, 12)], 
                     value='12 a.m.', title='Select hour.')
slider = Slider(start=1, end=6, value=1, step=1, title="Select the forecast horizon (in hours).")
widget_row = row(widgetbox(day_select), widgetbox(hour_select), widgetbox(slider))

region_select = Select(options=[str(i) for i in list(info.index)], value='1075',
                       title='Select a region, or click on it on the map.')
footer_widgets = row(widgetbox(region_select))

# CALLBACKS.
update_day_select_condition = CustomJS(args={'daySelect': day_select,
                                             'hourSelect': hour_select}, 
                                       code="""
                                               var day = daySelect.value;
                                               var hour = hourSelect.value;
                                               
                                               var ternDay = parseInt(day, 10)
                                               
                                               var x = hour.split(' ');
                                               var ternHour = parseInt(x[0], 10);
                                               var mid = x[1].split('.')[0];
                                               if (ternHour == 12 && mid == 'a') {
                                                   ternHour = 0;} else if (mid == 'p' && ternHour < 12) {
                                                       ternHour = ternHour + 12;
                                                       };
                                                                                             
                                               if (ternDay == 30 && ternHour > 17) {
                                                 hourSelect.value = '5 p.m.';
                                               };
                                            """)

update_hour_select_condition = CustomJS(args={'daySelect': day_select,
                                              'hourSelect': hour_select}, 
                                        code="""
                                                var day = daySelect.value;
                                                var hour = hourSelect.value;
                                                var ternDay = parseInt(day, 10)
                                                
                                                var x = hour.split(' ');
                                                var ternHour = parseInt(x[0], 10);
                                                var mid = x[1].split('.')[0];
                                                if (ternHour == 12 && mid == 'a') {
                                                    ternHour = 0;} else if (mid == 'p' && ternHour < 12) {
                                                        ternHour = ternHour + 12;
                                                        };
                                                
                                                if (ternDay == 30 && ternHour > 17) {
                                                  hourSelect.value = '5 p.m.';
                                                }
                                             """)

update_titles = CustomJS(args={'daySelect': day_select,
                               'hourSelect': hour_select,
                               'slider': slider,
                               'titleSource': title_source},
                         code="""
                                 var titleData = titleSource.data;
                                 var mainColumn = titleData.mt;
                                 var predColumn = titleData.pt;
                                 var trueColumn = titleData.tt;
                                 var dayValue = daySelect.value;
                                 var hourValue = hourSelect.value;
                                 var step = slider.value;
                                 
                                 // Main title.
                                 var dayInt = parseInt(dayValue, 10);
                                 
                                 var x = hourValue.split(' ');
                                 var hourInt = parseInt(x[0], 10);
                                 var mid = x[1].split('.')[0];
                                 if (hourInt == 12 && mid == 'a') {
                                     hourInt = 0;} else if (mid == 'p' && hourInt < 12) {
                                                       hourInt = hourInt + 12;
                                                        }
                                 
                                 
                                 var nowDate = new Date(2016, 6, dayInt, hourInt);
                                 var nowDay = nowDate.getDate();
                                 var nowHour = nowDate.getHours();
                                 var strDay = nowDay.toString(10);
                                 if (nowHour == 0) {
                                     var strH = " 12 a.m. ";
                                 } else if (nowHour > 12) {
                                     var temp = nowHour - 12;
                                     var temp1 = temp.toString(10);
                                     var strH = temp1 + " p.m. ";
                                 } else if (nowHour == 12) {
                                     var strH = " 12 p.m. ";
                                 } else {
                                     var temp = nowHour.toString(10);
                                     var strH = temp + " a.m. ";
                                 }                                
                                 
                                 var mainTitle = "Selected reference point: " + strH + "June " + strDay + ", 2016.";
                                 mainColumn[0] = mainTitle;
                                 
                                 // Other titles.
                                 nowDate.setTime(nowDate.getTime() + (step*60*60*1000))
                                 var nowDay = nowDate.getDate();
                                 var nowHour = nowDate.getHours();
                                 var strDay = nowDay.toString(10);
                                 
                                 if (nowHour == 0) {
                                     var strH = " 12 a.m. ";
                                 } else if (nowHour > 12) {
                                     var temp = nowHour - 12;
                                     var temp1 = temp.toString(10);
                                     var strH = temp1 + " p.m. ";
                                 } else if (nowHour == 12) {
                                     var strH = " 12 p.m. ";
                                 } else {
                                     var temp = nowHour.toString(10);
                                     var strH = temp + " a.m. ";
                                 }  
                                 
                                 var predTitle = "Forecast for " + strH + "June " + strDay + ", 2016.";
                                 var trueTitle = "Actual values at " + strH + "June " + strDay + ", 2016.";
                                 predColumn[0] = predTitle;
                                 trueColumn[0] = trueTitle;
                                 titleSource.change.emit();
                              """)

update_plot_source = CustomJS(args={'daySelect': day_select,
                                    'hourSelect': hour_select,
                                    'slider': slider,
                                    'plotSource': plot_source,
                                    'predSource': pred_source,
                                    'trueSource': true_source},
                              code="""
                                      var plotData = plotSource.data;
                                      var predData = predSource.data;
                                      var trueData = trueSource.data;
                                      var plotPredColumn = plotData.pv;
                                      var plotTrueColumn = plotData.tv;
                                      var dayValue = daySelect.value;
                                      var hourValueTemp = hourSelect.value;
                                      var step = slider.value;
                                      
                                      var x = hourValueTemp.split(' ');
                                      var hourInt = parseInt(x[0], 10);
                                      var mid = x[1].split('.')[0]
                                      if (hourInt == 12 & mid == 'a') {
                                          hourInt = 0;} else if (mid == 'p' & hourInt < 12) {
                                                       hourInt = hourInt + 12;
                                                        }
                                      var hourValue = hourInt.toString(10);
                                      
                                      // Pred.
                                      var predIndex = dayValue + "_" + hourValue + "_" + step.toString(10);
                                      var predValues = predData[predIndex];
                                      for (i = 0; i < predValues.length; i++) {
                                          plotPredColumn[i] = predValues[i];
                                      };
                                      
                                      // True.
                                      var dayInt = parseInt(dayValue, 10);
                                      var hourInt = parseInt(hourValue, 10);
                                      var nowDate = new Date(2016, 6, dayInt, hourInt);
                                      nowDate.setTime(nowDate.getTime() + (step*60*60*1000));
                                      var nowDay = nowDate.getDate();
                                      var nowHour = nowDate.getHours();
                                      var strHour = nowHour.toString(10);
                                      var strDay = nowDay.toString(10);
                                      var trueIndex = strDay + "_" + strHour;
                                      var trueValues = trueData[trueIndex];
                                      for (i = 0; i < trueValues.length; i++) {
                                          plotTrueColumn[i] = trueValues[i];
                                      }
                                      plotSource.change.emit();
                                   """)

region_select_update = CustomJS(args={'plotSource': plot_source, 'regionSelect': region_select},
                         code="""
                                 var region = plotSource.data.r[plotSource.selected.indices]
                                 if (region != null) {
                                   regionSelect.value = region.toString(10);
                                 }
                              """)

six_source_update = CustomJS(args={'daySelect': day_select, 
                                   'hourSelect': hour_select, 
                                   'regionSelect': region_select,
                                   'predSource': pred_source,
                                   'trueSource': true_source,
                                   'sixSource': six_source,
                                   'plotSource': plot_source}, 
                             code="""
                                     // Find index.
                                     var plotData = plotSource.data;
                                     var regions = plotData.r;
                                     var regionValue = regionSelect.value;
                                     var regionInt = parseInt(regionValue, 10);
                                     var ind = regions.indexOf(regionInt);
                                     
                                     // Get now date.
                                     var dayValue = daySelect.value;
                                     var hourValue = hourSelect.value;
                                     var dayInt = parseInt(dayValue, 10);
                                     
                                     
                                     var x = hourValue.split(' ');
                                     var hourInt = parseInt(x[0], 10);
                                     var mid = x[1].split('.')[0]
                                     if (hourInt == 12 & mid == 'a') {
                                         hourInt = 0;} else if (mid == 'p' & hourInt < 12) {
                                                      hourInt = hourInt + 12;
                                                       }
                                     hourValue = hourInt.toString(10);
                                                                          
                                     var nowDate = new Date(2016, 6, dayInt, hourInt);
                                     
                                     // Get target array.
                                     var predData = predSource.data;
                                     var trueData = trueSource.data;
                                     var sixData = sixSource.data;
                                     var sixPy = sixData.py;
                                     var sixTy = sixData.ty;
                                     
                                     // 0.
                                     var nowDay = nowDate.getDate();
                                     var nowHour = nowDate.getHours();
                                     var strHour = nowHour.toString(10);
                                     var strDay = nowDay.toString(10);
                                     var trueIndex = strDay + "_" + strHour;
                                     var trueValues = trueData[trueIndex];
                                     
                                     sixPy[0] = trueValues[ind];
                                     sixTy[0] = trueValues[ind];
                                     
                                     // +1.
                                     nowDate.setTime(nowDate.getTime() + (60*60*1000));
                                     var nowDay = nowDate.getDate();
                                     var nowHour = nowDate.getHours();
                                     var strHour = nowHour.toString(10);
                                     var strDay = nowDay.toString(10);
                                     var trueIndex = strDay + "_" + strHour;
                                     var trueValues = trueData[trueIndex];
                                     sixTy[1] = trueValues[ind];
                                     
                                     var predIndex = dayValue + "_" + hourValue + "_" + "1";
                                     var predValues = predData[predIndex];
                                     sixPy[1] = predValues[ind];
                                     
                                     // +2.
                                     nowDate.setTime(nowDate.getTime() + (60*60*1000));
                                     var nowDay = nowDate.getDate();
                                     var nowHour = nowDate.getHours();
                                     var strHour = nowHour.toString(10);
                                     var strDay = nowDay.toString(10);
                                     var trueIndex = strDay + "_" + strHour;
                                     var trueValues = trueData[trueIndex];
                                     sixTy[2] = trueValues[ind];
                                     
                                     var predIndex = dayValue + "_" + hourValue + "_" + "2";
                                     var predValues = predData[predIndex];
                                     sixPy[2] = predValues[ind];
                                     
                                     // +3.
                                     nowDate.setTime(nowDate.getTime() + (60*60*1000));
                                     var nowDay = nowDate.getDate();
                                     var nowHour = nowDate.getHours();
                                     var strHour = nowHour.toString(10);
                                     var strDay = nowDay.toString(10);
                                     var trueIndex = strDay + "_" + strHour;
                                     var trueValues = trueData[trueIndex];
                                     sixTy[3] = trueValues[ind];
                                     
                                     var predIndex = dayValue + "_" + hourValue + "_" + "3";
                                     var predValues = predData[predIndex];
                                     sixPy[3] = predValues[ind];
                                     
                                     // +4.
                                     nowDate.setTime(nowDate.getTime() + (60*60*1000));
                                     var nowDay = nowDate.getDate();
                                     var nowHour = nowDate.getHours();
                                     var strHour = nowHour.toString(10);
                                     var strDay = nowDay.toString(10);
                                     var trueIndex = strDay + "_" + strHour;
                                     var trueValues = trueData[trueIndex];
                                     sixTy[4] = trueValues[ind];
                                     
                                     var predIndex = dayValue + "_" + hourValue + "_" + "4";
                                     var predValues = predData[predIndex];
                                     sixPy[4] = predValues[ind];
                                     
                                     // +5.
                                     nowDate.setTime(nowDate.getTime() + (60*60*1000));
                                     var nowDay = nowDate.getDate();
                                     var nowHour = nowDate.getHours();
                                     var strHour = nowHour.toString(10);
                                     var strDay = nowDay.toString(10);
                                     var trueIndex = strDay + "_" + strHour;
                                     var trueValues = trueData[trueIndex];
                                     sixTy[5] = trueValues[ind];
                                     
                                     var predIndex = dayValue + "_" + hourValue + "_" + "5";
                                     var predValues = predData[predIndex];
                                     sixPy[5] = predValues[ind];
                                     
                                     // +6.
                                     nowDate.setTime(nowDate.getTime() + (60*60*1000));
                                     var nowDay = nowDate.getDate();
                                     var nowHour = nowDate.getHours();
                                     var strHour = nowHour.toString(10);
                                     var strDay = nowDay.toString(10);
                                     var trueIndex = strDay + "_" + strHour;
                                     var trueValues = trueData[trueIndex];
                                     sixTy[6] = trueValues[ind];
                                     
                                     var predIndex = dayValue + "_" + hourValue + "_" + "6";
                                     var predValues = predData[predIndex];
                                     sixPy[6] = predValues[ind];
                                     sixSource.change.emit();
                             """)

update_all_source = CustomJS(args={'regionSelect': region_select,
                                   'slider': slider,
                                   'seriesSource': series_source,
                                   'allSource': all_source},
                            code="""
                                     var regionValue = regionSelect.value;
                                     var stepValue = slider.value;
                                     var seriesData = seriesSource.data;
                                     var allData = allSource.data;
                                     var apColumn = allData.ap;
                                     var atColumn = allData.at;
                                     
                                     var seriesPredColIndex = regionValue + "_" + stepValue.toString(10);
                                     var seriesTrueColIndex = regionValue;
                                     var seriesPredColumn = seriesData[seriesPredColIndex];
                                     var seriesTrueColumn = seriesData[seriesTrueColIndex];
                                     
                                     for (i = 0; i < seriesTrueColumn.length; i++) {
                                         apColumn[i] = seriesPredColumn[i];
                                         atColumn[i] = seriesTrueColumn[i];
                                     };
                                     allSource.change.emit();
                                  """)

day_select.js_on_change('value', update_day_select_condition, update_titles, update_plot_source, 
                        six_source_update)
hour_select.js_on_change('value', update_hour_select_condition, update_titles, update_plot_source, 
                         six_source_update)
slider.js_on_change('value', update_titles, update_plot_source, update_all_source)
region_select.js_on_change('value', six_source_update, update_all_source)
plot_source.selected.js_on_change('indices', region_select_update)

# Space.
space_figure = figure(plot_height=20, tools='')
space_figure.grid.visible = False
space_figure.outline_line_color = None

# PLOT.
dop_figure = figure(plot_width=80, plot_height=80, tools='')
dop_figure.grid.visible = False
dop_figure.outline_line_color = None
p = gridplot([[row(dop_figure, widget_row)],
              [row(dop_figure, main_title_figure)],
              [row(dop_figure, col_pred, col_true)], 
              [row(space_figure)],
              [row(dop_figure, footer_widgets)], 
              [row(dop_figure, col_six, col_all)]])
demo_html = file_html(p, CDN, template='template.html')

WARNING:bokeh.core.validation.check:W-1000 (MISSING_RENDERERS): Plot has no renderers: Figure(id='11351', ...)
WARNING:bokeh.core.validation.check:W-1000 (MISSING_RENDERERS): Plot has no renderers: Figure(id='11371', ...)

In [49]:
first = """
<!DOCTYPE html>
<html>
<head>
<title>yellowtaxi</title>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h2, h3, h4, h5 {
  margin-bottom: -10px;
}
a {
     text-decoration: none;
    }
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: navy;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
</head>
<body>
<p style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px"><a href="/">MAIN PAGE</a></p>
<h1 style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif">Yellow taxi in new York. Final project for the Coursera&nbsp;<a href="https://www.coursera.org/specializations/machine-learning-data-analysis"target="_blank">Machine learning and data analysis</a> specialization.</span></h1>

<p style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">

<a href="https://github.com/artemklopow/yellowtaxi.git"target="_blank">
<img border="0" src="/git_logo.png" width="16" height="16">
<a href="https://github.com/artemklopow/yellowtaxi.git"target="_blank">Project on github.</a>

<br>
<a href="http://www.kaggle.com/c/yellowtaxi"target="_blank">
<img border="0" src="/kaggle_logo.png" width="16" height="16">
<a href="http://www.kaggle.com/c/yellowtaxi"target="_blank">Kaggle competition.</a><br>The task of the project is to learn how to predict the number of trips in the next few hours in each district of New York. Data from may 2014 to may 2016 were used for training. Forecasts were made for June 2016. 
The quality metric is the mean absolute error. Received error - 18.745.</span></span></p>

<h2 style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif">Results demonstration.</span></h2>
"""

In [50]:
second = """
<h3 style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif">Brief description of project sections. </span></h3>

<p style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">Notes on each section are on github. See link above.</span></span></p>

<h4 style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif">1.&nbsp;Familiarity with the data and aggregation.</span></h4>

<p style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">Downloaded the raw data on trips yellow cab from the TLC website:&nbsp;<a href="http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml" rel="noopener nofollow" target="_blank">www.nyc.gov/html/tlc/html/about/trip_record_data.shtml</a>. Data were cleaned of errors and anomalies.&nbsp; Calculated the number of trips per hour from each region.</span></span></p>

<h4 style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif">2. GEODATA.</span></h4>

<p style="margin-left:80px"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">Discarded regions, of which in may 2016 committed an average of less than 5 trips per hour. The visualization of new York city districts on the map, with the calculated average number of trips per hour in may 2016.</span></span></p>

<h4 style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif">3. Forecasting series with complex seasonality.</span></h4>

<p style="margin-left:80px"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">According to one of the regions was built model SARIMAX.</span></span></p>

<h4 style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif">4. Forecasting a large number of series.</span></h4>

<p style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif"><span style="font-size:16px">Clustering of standardized time series on 5 clusters is carried out. For each cluster the model SARIMAX, built the projections on June 2016. The mean absolute error at the end of the section - 29.080.</span></span></p>

<h4 style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif">5. Regression.</span></h4>
<p style="margin-left:80px"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">Built regression features, 6 samples for forecasts from 1 to 6 hours ahead. Considered models of Ridge, Lasso, XGBRegressor and a neural network with two hidden layers.</span></span></p>

<p style="margin-left:80px"><img src="/models_mae.png"></p>

<p style="margin-left:80px"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">To further examine model was assumed XGBRegressor. Mean absolute error on the results section - 24.085.</span></span></p>
<h4 style="margin-left:80px"><span style="font-family:Arial,Helvetica,sans-serif">6. Additional features.</span></h4>

<p style="margin-left:80px"><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">Built additional regression features. MAE at the end of the section - 18.745.</span></span></p>

<button onclick="topFunction()" id="myBtn">Top</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
  } else {
    document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>


<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(54218890, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/54218890" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
"""

ridge_cv = load('best_ridge_cv.joblib')
lasso_cv = load('best_lasso_cv.joblib')
xgb_cv = load('best_xgb_cv.joblib')
neural_cv = load('best_neural_cv.joblib')

cv_source = ColumnDataSource(data=dict(a=list(range(1,7)),
                                       r=ridge_cv,
                                       l=lasso_cv,
                                       x=xgb_cv,
                                       n=neural_cv))
mae_source = ColumnDataSource(data=dict(m=[sum(i)/len(i) for i in [ridge_cv, lasso_cv, xgb_cv, neural_cv]],
                                        n=['Ridge', 'Lasso', 'XGB', 'NN']))
cv_figure = figure(plot_width=600, plot_height=300, y_range=(0,50), y_axis_label="mae",
                   x_axis_label='Шаг прогноза', title='Ошибка на отложенной выбоке', tools=[''])
rl = cv_figure.line(x='a', y='r', line_color='navy', line_width=1.5, source=cv_source)
ll = cv_figure.line(x='a', y='l', line_color='red', line_width=1.5, source=cv_source)
xl = cv_figure.line(x='a', y='x', line_color='green', line_width=1.5, source=cv_source)
nl = cv_figure.line(x='a', y='n', line_color='orange', line_width=1.5, source=cv_source)
cv_figure.xaxis.major_label_overrides = {1: '+1', 2: '+2', 3: '+3', 4: '+4', 5: '+5', 6: '+6'}

legend = Legend(items=[
    ('Ridge', [rl]),
    ('Lasso', [xl]),
    ('XGB', [xl]),
    ('NN',   [nl])], location=(0, 100))
cv_figure.add_layout(legend, 'right')
cv_figure.add_tools(HoverTool(tooltips=[('Ridge', '@r'), 
                                        ('Lasso', '@l'),
                                        ('XGB', '@x'),
                                        ('NN', '@n')], renderers=[rl], mode='vline'))

cv_figure.xaxis.minor_tick_line_color = None
cv_figure.yaxis.minor_tick_line_color = None

more_figure = figure(plot_width=35, plot_height=35, title='', tools='')
more_figure.grid.visible = False
more_figure.outline_line_color = None

cv_p = row(more_figure, cv_figure)
#output_notebook()
models_html = file_html(gridplot([[more_figure, cv_figure]]), CDN, template='template.html')

In [51]:
with open('yellowtaxi_en.html', 'w') as f:
    f.write(first + demo_html + second)